<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">

    </div>
    <div class="col-sm-8 text-left">
      <div class="content" role="main">
        <li *ngFor="let advertisement of advertisements; index as i;">
          <div class="list-group text-start">
            <div class="list-group-item list-group-item-action">
              <div class="row" style="margin-top: 10px">
                <div class="col">
                  <img src="{{advertisement.filePath}}" height="350" width="450"/>
                </div>
              </div>
              <div class="row text-start">
                <div class="col text-start">
                  <a class="link-dark" (click)="goToAdvertisementView(advertisement)">{{advertisement.adTitle}}</a>
                </div>
              </div>
              <div class="row text-start">
                <div class="col">
                  {{advertisement.price}} $
                </div>
              </div>
              <div class="row text-start">
                <div class="col">
                  {{advertisement.countOfRoom}} кімнат
                </div>
              </div>
              <div class="row text-end">
                <div class="col">
                  <button class="btn btn-success" (click)="approvePublication(advertisement.adId)" style="margin-right: 10px">Підтвердити публікацію</button>
                  <button class="btn btn-danger" (click)="rejectPublication(advertisement.adId)">Відхилити публікацію</button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
    </div>
    <div class="col-sm-2 sidenav">
      <div *ngIf="user.userId" class="list-group text-start" style="position: fixed;">
        <a href="#" class="list-group-item list-group-item-action bg-dark disabled text-center">
          {{user.username}} {{user.lastname}}
        </a>
        <a href="/start" (click)="logOut()" class="list-group-item list-group-item-action"><i class="fa fa-sign-out"></i> Вийти з акаунту</a>
      </div>
    </div>
  </div>
</div>
