<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">

    </div>
    <div class="col-sm-8 text-left">
      <div class="content" role="main">
        <li *ngFor="let advertisement of advertisements; index as i;">
          <div style="width: 65%; margin: auto; border: 1px solid #222; border-radius: 4px">
            <div class="row" style="margin-top: 10px">
              <div class="col">
                <img src="{{advertisement.filePath}}" height="350" width="450"/>
              </div>
            </div>
            <div class="row text-start">
              <div class="col text-start">
                <a class="link-dark" (click)="goToAdvertisementView(advertisement)">{{advertisement.adTitle}}</a>
              </div>
            </div>
            <div class="row text-start">
              <div class="col">
                {{advertisement.price}} $
              </div>
            </div>
            <div class="row text-start">
              <div class="col">
                {{advertisement.countOfRoom}} кімнат
              </div>
            </div>
          </div>
        </li>
      </div>
    </div>
    <div class="col-sm-2 sidenav">
      <div *ngIf="user.userId" class="list-group text-start" style="position: fixed;">
        <a href="#" class="list-group-item list-group-item-action bg-dark disabled text-center">
          {{user.username}} {{user.lastname}}
        </a>
        <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-plus"></i> Додати оголошення</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-house-fill"></i> Мої оголошення</a>
        <a href="#" (click)="goToFavorites()" class="list-group-item list-group-item-action"><i class="fa fa-heart"></i> Обрані оголошення</a>
        <a href="/start" (click)="logOut()" class="list-group-item list-group-item-action"><i class="fa fa-sign-out"></i> Вийти з акаунту</a>
      </div>
    </div>
  </div>
</div>
