<div class="form-body">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <form class="requires-validation" novalidate>
            <div class="row">
              <div class="col">
                <select class="custom-select" [(ngModel)]="filterAdvertisement.type">
                  <option value="sale" selected>Придбати нерухомість</option>
                  <option value="rent">Арендувати нерухомість</option>
                </select>
              </div>

              <div class="col">
                <select class="custom-select" [(ngModel)]="filterAdvertisement.city">
                  <option selected>Місто...</option>
                  <option value="niko">Миколаїв</option>
                  <option value="odessa">Одеса</option>
                  <option value="kiev">Київ</option>
                  <option value="kharkov">Харків</option>
                  <option value="dnepr">Дніпро</option>
                  <option value="zapor">Запоріжжя</option>
                  <option value="lvov">Лвів</option>
                  <option value="rog">Кривий Ріг</option>
                  <option value="vinnitsa">Вінниця</option>
                  <option value="kherson">Херсон</option>
                  <option value="chernihiv">Чернігів</option>
                  <option value="poltava">Полтава</option>
                  <option value="cherkassi">Черкаси</option>
                  <option value="khmel">Хмельницький</option>
                  <option value="chernivtsi">Чернівці</option>
                  <option value="zhitomir">Житомир</option>
                  <option value="summi">Сумми</option>
                  <option value="rivne">Рівне</option>
                  <option value="ternopil">Тернопіль</option>
                  <option value="krop">Кропівницький</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input class="form-control" type="number" min="0" step="1" name="countOfRoom" placeholder="Кількість кімнат" [(ngModel)]="filterAdvertisement.countOfRoom" required>
              </div>

              <div class="col">
                <input class="form-control" type="number" min="0" step="50" id="price" placeholder="Ціна $" [(ngModel)]="filterAdvertisement.price" required>
              </div>

              <div class="form-button mt-3 float-sm-start">
                <button id="submit" type="button" class="btn btn-light" (click)="getFilteredAdvertisement()">Пошук</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

<li *ngFor="let advertisement of advertisements; index as i;">
  {{i}}/{{advertisements.length}}. {{advertisement.adTitle}}
</li>
