<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">

    </div>
    <div class="col-sm-8 text-left">
      <div class="content" role="main">
<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <form class="requires-validation" novalidate>
            <div class="col-md-12">
              <input class="form-control" type="email" name="email" placeholder="E-mail Address" required [(ngModel)]="user.email">
              <div class="valid-feedback">Некоректна пошта!</div>
              <div class="invalid-feedback">Поле пошти не може бути пустим!</div>
            </div>

            <div class="col-md-12">
              <input class="form-control" type="password" name="password" placeholder="Password" required [(ngModel)]="user.password">
              <div class="valid-feedback">Некоректний пароль!</div>
              <div class="invalid-feedback">Поле паролю не може бути пустим!</div>
            </div>

            <div class="form-button mt-3 float-sm-start">
              <button id="submit" type="button" class="btn btn-light" (click)="loginUser(user)">Вхід</button>
            </div>
            <div class="form-button mt-3 float-sm-end">
              <button id="register" type="button" class="btn btn-primary" routerLink="/registration">Реєстрація</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
    <div class="col-sm-2 sidenav">

    </div>
  </div>
</div>
